<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/style.css")
    title Calculator
  body
    section(class="wrapper")
      div(class="calc")
          div(class="calc__screen")
            p(class="calc__num2")
            p(class="calc__num1")
            p(class="calc__result")
          div(class="calc__keyboard")
            p(class="calc__number" id="ac" data-sing="ac")
              span AC
            p(class="calc__number" id="larr" data-sing="l")
              span &larr;
            p(class="calc__number" id="radic" data-sing="r")
              span &radic;
            p(class="calc__number" id="sup2" data-sing="^")
              span x&sup2;
            p(class="calc__number" id="plus" data-sing="+")
              span +
            p(class="calc__number" id="minus" data-sing="-")
              span -
            p(class="calc__number" id="times" data-sing="*")
              span &times;
            p(class="calc__number" id="divide" data-sing="/")
              span &divide;
            p(class="calc__number" id="equal" data-sing="=")
              span =
            p(class="calc__number" id="point" data-sing=".")
              span .
    script(src="assets/js/script.js")