<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/normalize.css")
    link(rel="stylesheet", href="assets/css/style.css")
    title Calculator
  body
    section(class="wrapper")
      div(class="calc")
          div(class="calc__screen")
              div(class="calc__num2")
              div(class="calc__num1")
          div(class="calc__keyboard")
            p(class="calc__number" id="ac" data-sing="reset")
              span AC
            p(class="calc__number" id="larr" data-sing="backspace")
              span &larr;
            p(class="calc__number" id="radic" data-sing="sqrt")
              span &radic;
            p(class="calc__number" id="sup2" data-sing="pow")
              span x^n
            p(class="calc__number" id="plus" data-sing="add")
              span +
            p(class="calc__number" id="minus" data-sing="minus")
              span -
            p(class="calc__number" id="times" data-sing="multiply")
              span &times;
            p(class="calc__number" id="divide" data-sing="divide")
              span &divide;
            p(class="calc__number" id="equal" data-sing="equal")
              span =
            p(class="calc__number" id="point" data-sing=".")
              span .
    script(src="assets/js/script.js")